#runner-list table {
    max-width: 48rem;
}
#runner-list table tr:nth-child(odd) td {
    background-color: lightcyan;
}

#runner-list table tr:nth-child(even) td {
    background-color: white;
}